:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Inter', sans-serif;
    color: var(--branco-principal);
}

.principal{
    background-image: url(assets/img/Background.png);
}